@import "tailwindcss";
@plugin "daisyui/index.js" {
  themes: all;
};

/* z-index controller */
.loading-container{ z-index: 9999; }
#sidebar { z-index: 5199; }
#navbar { z-index: 5099; }

/* main */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* daisyUI (Tailwind CSS) custom */
.card,
.stats {
  width: 100%;
  background: var(--color-base-100);
  box-shadow: var(--shadow-md);
  border-radius: var(--radius-md);
}
.list {
  background: var(--color-base-100);
  box-shadow: var(--shadow-md);
  border-radius: var(--radius-md);
}
.input,
.select,
.textarea {
  width: 100%;
}